// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  display: flex;
  flex-direction: row;
  width: 100%;

  /*並び順*/
  /*
  flex-start：左寄せ（デフォルト）
  flex-end：右寄せ
  center： 中央寄せ
  space-between：残り余白の均等割り
  space-around：左右余白 ＋ 均等割り
  */
  justify-content: center;
}
.flex-item{
  width: 100px;
  height: 100px;
}
